*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
    scroll-behavior: smooth;
    font-family: poppins, sans-serif;
}
body {
  margin: 0 !important;
  padding: 0 !important;
}
footer {
  margin: 0 !important;
  padding: 0 !important;
}

:root{
    --bg-color:linear-gradient(rgb(255, 255, 255), rgb(250, 254, 255), rgb(183, 214, 243) 89%);
    --green-gradiant-color:linear-gradient(rgb(255, 255, 255),  rgba(162, 216, 166, 0.87) 89%);
    --second-bg-color:#004d99;
    --green-color:#00a808;
    --black-color:rgb(0, 0, 0);
    --white-color:white;
}





/* CSS */
.button-29 {
    align-items: center;
    appearance: none;
    background-image: radial-gradient(100% 100% at 100% 0, #5adaff 0, #5468ff 100%);
    border: 0;
    border-radius: 6px;
    box-shadow: rgba(45, 35, 66, .4) 0 2px 4px,rgba(45, 35, 66, .3) 0 7px 13px -3px,rgba(58, 65, 111, .5) 0 -3px 0 inset;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-flex;
    font-family: "JetBrains Mono",monospace;
    height: 48px;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
    text-align: left;
    text-decoration: none;
    transition: box-shadow .15s,transform .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow,transform;
    font-size: 18px;
  }
  
  .button-29:focus {
    box-shadow: #3c4fe0 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
  }
  
  .button-29:hover {
    box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
    transform: translateY(-2px);
  }
  
  .button-29:active {
    box-shadow: #3c4fe0 0 3px 7px inset;
    transform: translateY(2px);
  }

/* ================flexible all section with one class row & colunm ==================== */

.flex-column{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: center;
    align-items: flex-start;
}
.flex-row{
    display: flex;
    flex-direction:row ;
    flex-wrap: no-wrap;
    justify-content:flex-start;
    align-items: center;
}

h5{
    /* margin-bottom: 20px; */
    font-size: 60px;
    /* text-align: center; */
}

section{
    padding: 12rem 9% 2rem;
}


/* .second-btn{
    padding: .6rem 1.2rem;
    margin: 15px 0;
    background: var(--green-color);
    border-radius: 4rem;
    color: var(--white-color);
    box-shadow: 0 0 1rem var(--green-color);
    letter-spacing: .1rem;
    font-weight: 700;
    font-size: 12px;
    transition: 500ms;
} */


/* =================== header==================== */

html{
    font-size:62.5%;
}
body{
    background-color:var(--bg-color);
    color: var(--second-bg-color);
    display: flex;
}


.slider {
    overflow: hidden;
    white-space:nowrap;
    width: 50%;
    max-width: 200px;
    padding: 10px;
    font-size: 20px;
}

#slider {
    display: inline-block;
    padding-left: 0%;
    animation: slideAnimation 20s 0ms linear infinite  ;
    /* animation: name duration timing-function delay iteration-count direction fill-mode; */
}

@keyframes slideAnimation {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
}

/* ============= COURSES DETAILS ============ */

.courses-section{
    width: 100vw;
    height: 100vh;
    background-color: rgb(177, 170, 165);
}


.qaida-o-nazra-sec{
    width: 100vw;
    background-color: #13283d;
    height:390px;
    padding: 8% 9%;
    position: relative;
}

.qaida-o-nazra{
    height: 100vh;
    top: 50px;
}
.first-detail{
    margin:20px 0;
    padding: 30px 0;
    width: 60%;
    min-width: 300px;
    color: white;
    /* position: relative; */
}
.first-detail h1{
    font-size: 5rem;
    font-weight: 600;
}
.first-detail p {
    font-size: 12px;
    line-height:1.4;
    font-weight: 200;
}


/* =========== Second Detail Start ================ */

.second-detail{
    margin:20px 9%;
    width: 40%;
    color: black;
    background-color: aliceblue;
    border: 2px groove rgba(0, 0, 0, 0.24);
    border-radius: 5px;
    padding:30px;
    /* position: relative; */

}

.second-detail h1{
    font-weight: 500;
    font-size: 25px;
}
.second-detail span{
    color: var(--green-color);
    font-size: 18px;
    margin: 1px 6px;

}

.second-detail p {
    font-size:14px;
    font-weight: 300;
    color: #000000ad;
}

/* ========== Third Detail Start  ============== */

.course-detail{
    position:absolute;
    top: 120px;
    right:120px;
    width: 26%;
    min-width: 300px;
    padding-bottom: 25px;
    background-color: white;
    border: 2px solid white;
    outline: 1px solid rgba(0, 0, 0, 0.199);
    
}


.course-detail img {
    width: 100%;
    height: 200px;         /* fixed height */
    object-fit: cover;     /* image ko crop karke fit karega without distortion */
    border-radius: 5px;    /* optional: thoda rounded look */
}

.course-detail h1{
    margin: 5px 10px;
    color: black;
    font-size: 30px;
    text-align: center;
    font-weight: 500;
}

.course-detail .button-29{
    margin: 0px 10px;
    width: 90%;
}

.course-detail h2{
    color: black;
    font-weight: 500;
    /* font-size:24px; */
    margin: 20px;
}

.course-detail strong{
    /* display: inline-block; */
    font-size: 12px;
    font-weight: 600;
    color:black;
}
.course-detail p{
    color: black;
    font-size: 12px;
}
/* .point{
    width: 90%;
} */

.course-detail span{
    color:rgb(20, 155, 38);
    font-weight: bold;
    font-size: 22px;
    margin-left: 10px;
    margin-right: 4px;
}




/* =================== Media Qeuri  ======================= */

@media(max-width:1200px){
/* .course-detail{
    position:static;
} */

.first-detail{
    width: 80%;
}
.flex-column{
    align-items: center;
}

.first-detail h1{
    text-align: center;
    font-size: 3.3rem;
    line-height: 1;
    font-weight: 1000;
}
.first-detail p {
    text-align: justify;
    font-size: 12px;
    line-height:1.4;
    font-weight: 200;
}

.first-detail h1{
    font-size: 5rem;
    font-weight: 600;
    margin-bottom: 10px;
}
.first-detail p {
    font-size: 12px;
    line-height:1.4;
    font-weight: 200;
}
   .course-detail{
    display: none;
   }



.second-detail{
    margin:20px 9%;
    width: 40%;
    min-width: 400px;
    color: black;
    background-color: aliceblue;
    border: 2px groove rgba(0, 0, 0, 0.24);
    border-radius: 5px;
    padding:30px;
}
}




@media (max-width:500px){
.second-detail{
    width: 90%;
    min-width: 300px;
    margin: auto;
}



.first-detail h1{
    font-size: 3rem;
    font-weight: 600;
}
.first-detail p {
    font-size: 12px;
    line-height:1.4;
    font-weight: 200;
}

}